* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    background-color: #545454;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    overflow: hidden;
}

.container {
    margin: 60px auto;
    background: #fff;
    padding: 0;
    border-radius: 7px;
    margin-top: 75px;
}

.profile-image {
    width: 50px;
    height: 50px;
    border-radius: 40px;
}

.settings-tray {
    background: darkred;
    padding: 0px 15px;
    border-radius: 0px;
}

.settings-tray .no-gutters {
    padding: 0;
}

.settings-tray--right {
    float: right;
}

.settings-tray--right i {
    margin-top: 10px;
    font-size: 25px;
    color: #fff;
    margin-left: 14px;
    transition: 0.3s;
}

.settings-tray--right i:hover {
    color: grey;
    cursor: pointer;
}

.search-box {
    background: darkred;
    padding: 10px 13px;
}

.search-box .input-wrapper {
    background: #fff;
    border-radius: 40px;
}

.search-box .input-wrapper i {
    color: grey;
    margin-left: 7px;
    vertical-align: middle;
}

input {
    border: none;
    border-radius: 30px;
    width: 80%;
}

input::placeholder {
    color: #e3e3e3;
    font-weight: 300;
    margin-left: 20px;
}

input:focus {
    outline: none;
}

.friend-drawer {
    padding: 10px 15px;
    display: flex;
    vertical-align: baseline;
    background: #fff;
    transition: 0.3s ease;
}

.friend-drawer--grey {
    background: darkred;
}

.friend-drawer .text {
    margin-left: 12px;
    width: 70%;
}

.friend-drawer .text h4 {
    margin-top: 6px;
    margin-bottom: 0;
}

.friend-drawer .text p {
    margin: 0;
}

.friend-drawer .time {
    color: grey;
}

.friend-drawer--onhover:hover {
    background: lightgray;
    cursor: pointer;
}

.friend-drawer--onhover:hover p,
.friend-drawer--onhover:hover h4,
.friend-drawer--onhover:hover .time {
    color: #fff !important;
}

hr {
    margin: 5px auto;
    width: 60%;
}

.chat-bubble {
    padding: 10px 14px;
    background: #eee;
    margin: 10px 30px;
    border-radius: 9px;
    position: relative;
    animation: fadeIn 1s ease-in;
}

.chat-bubble:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-bottom: 0;
    margin-top: -10px;
}

.chat-bubble--left:after {
    left: 0;
    border-right-color: #eee;
    border-left: 0;
    margin-left: -20px;
}

.chat-bubble--right:after {
    right: 0;
    border-left-color: darkred;
    border-right: 0;
    margin-right: -20px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.offset-md-9 .chat-bubble {
    background: darkred;
    color: #fff;
}

.chat-box-tray {
    background: #eee;
    display: flex;
    align-items: baseline;
    padding: 10px 15px;
    align-items: center;
    margin-top: 19px;
    bottom: 0;
}

.chat-box-tray input {
    margin: 0 10px;
    padding: 6px 2px;
}

.chat-box-tray i {
    color: grey;
    font-size: 30px;
    vertical-align: middle;
}

.chat-box-tray i:last-of-type {
    margin-left: 25px;
}

.header {
    background-color: #0b1622;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.header img {
    width: 50px;
}

.header a {
    float: left;
    color: #fff;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

.header a.logo {
    font-size: 25px;
    font-weight: bold;
    padding: 0 !important;
}

.header-right {
    display: block;
    align-items: center;
}

@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }

    .header-right {
        float: none;
    }
}

.header-right h1 {
    color: #fff;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.footer {
    overflow: hidden;
    background-color: #0b1622;
    padding: 10px 20px;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
}

.footer a {
    float: right;
    display: block;
    color: #fff;
    text-align: right;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

.footer a:hover {
    text-decoration: underline;
}