/* src/components/GroupChatMessage.css */

.chat-messages {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.chat-message {
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    max-width: 70%;
    word-wrap: break-word;
    color: white;
    display: flex;
    align-items: flex-start;
  }
  
  .chat-message .message-content {
    flex: 1;
    min-width: 0; /* Allow flexbox to shrink this item */
  }
  
  .chat-message .message-text {
    word-break: break-word; /* Ensure long words also wrap */
  }

.chat-message.left {
    background-color: #1a0a0a;
    align-self: flex-start;
}

.chat-message.right {
    background-color: #b33a3a;
    align-self: flex-end;
    margin-left: auto;
}

.profile-image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.message-content {
    display: flex;
    flex-direction: column;
}

.message-sender {
    font-weight: bold;
}

.message-text {
    margin-top: 5px;
}

.time {
    margin-top: 5px;
    font-size: 0.8em;
    color: #ccc;
}

.friend-item.ai-chat {
    background-color: #f0f8ff; /* Light blue background */
    border-left: 3px solid #4169e1; /* Royal blue border */
  }
  
  .chat-message.ai-message {
    background-color: #f0f8ff; /* Light blue background */
  }